* {
    padding: 0;
    margin: 0;
}

.secction-columna1 {
    margin: 2em 0 1em 0;
    width: 100%;
}

.section-columna2 h1 {
    margin-bottom: 1em;
}

.section-columna2 {
    margin: 2em 2em 1em 0em;
}

.destinatario {
    width: 20em;
    font-size: 1em;
    padding: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    border: 1px solid #808080;
}

.cuadro-gift-card {
    height: 28rem;
    background-image: url(../assets/1-fondo-cumple.jpg);
    border: 1px solid  #8a8a8a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.giftcard-cuadro-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giftcard-cuadro-texto p {
    font-size: 270%;
    text-align: center;
    font-weight: bold;
}

.giftcard_box-monto{
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
}

.giftcard_box_muestra-monto{
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    background-color: #000000;
    width: 15%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-gift-card {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    padding: 0 1em;
}

.div-monto {
    display: flex;
    align-items: center;
    margin-top: 0.7em;
}

.div-monto input {
    margin-left: 1em;
    font-size: 1em;
    padding: 0.3em;
}

.div-monto input[type="number"] {
    /*para sacar los spinner del input tipo number en firefox*/
    -moz-appearance: textfield;
}

.div-monto input[type="number"]::-webkit-inner-spin-button,
/*para sacar los spinner del input tipo number en otros navegadores*/
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.colores,
.ubicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.fondos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    gap: 1em;
}

.tamanio-fuentes {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-end;
}

.color {
    width: 2em;
    height: 2em;
    border-radius: 50% 50%;
    border: 1px solid black;
    margin: 0.5em;
}

.color1 div {
    background-color: #ffffff;
}

.color2 div {
    background-color: #000000;
}

.color3 div {
    background-color: #DBA233;
}

.color4 div {
    background-color: #0000ff;
}

.color5 div {
    background-color: #ff0000;
}

.color1,
.color2,
.color3,
.color4,
.color5,
.ubicacion1,
.ubicacion2,
.ubicacion3,
.fondo1,
.fondo2,
.fondo3,
.fondo4,
.fondo5 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fuente20,
.fuente28,
.fuente32,
.fuente48,
.fuente60 {
    display: flex;
    flex-direction: column-reverse;
}

.fuente20,
.fuente28,
.fuente32,
.fuente48,
.fuente60 {
    margin-left: 0.5rem;
}

.fuente20 span {
    font-size: 100%;
}

.fuente28 span {
    font-size: 130%;
}

.fuente32 {
    font-size: 150%;
}

.fuente48 {
    font-size: 170%;
}

.fuente60 {
    font-size: 200%;
}

.fuente {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.fondo,
.ubicacion {
    width: 6em;
    height: 4em;
    border: 1px solid black;
    margin: 0.5em 0; 

}

.fondo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.subtitulo {
    margin-top: 0.7em;
}

.ubicacion {
    position: relative;
}

.ubicacion-precio-der-inf {
    position: absolute;
    right: 0.2em;
    bottom: 0.2em;
}

.ubicacion-precio-izq-sup {
    position: absolute;
    left: 0.2em;
    top: 0.2em;
}

.ubicacion-precio-der-sup {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}

.ubicacion-precio-der-inf,
.ubicacion-precio-izq-sup,
.ubicacion-precio-der-sup {
    background-color: #252525;
    color: #ffffff;
    font-size: 0.9em;
    padding: 0 0.7em;
}

.boton-enviar-formulario {
    width: 35%;
    border: none;
    border-radius: 6px;
    background-color: #399B77;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em auto 2em auto; /*auto para centrar horizontalmente*/
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem;
}



/*recorda la unidad de medida em cambiar solo segun su contenedor
en cambio rem segun el html*/

/*POPUP*/
/*
.ventana{
    background-color:#ffffff;
    width:35em;
    height: 13em;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }

  .ventana-principal{
    display: flex;

  }


.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:-250px;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #IrVentanaFlotante2:target{
    opacity:1;
    pointer-events:auto;
  }


  .ventana-emogic{
    width: 5rem;
    object-fit: contain;
    margin-right: 0.6rem;
  }

  .ventana p{
    display: inline;
  }

  .pop-up-btn{
    width: 27%;
    height: 2.2em;
    border: none;
    border-radius: 6px;
    background-color: #399B77;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
    padding-top: 0.9rem;
  }
*/
  /*********** RESPONSIVE ***********/
  @media screen and (max-width:576px) {
    .main-gift-card{
        flex-direction: column;
    }

    

  }
