* {
    padding: 0;
    margin: 0;
}

.contenedor_carrusel_principal {
    width: 100%;
    height: 25em;
    position: relative;
    z-index: 1;
}

.contenedor_carrusel_principal-carrusel {
    height: 100%;
}

.slider-seccion {
    height: 100%;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    bottom: 50%;
    line-height: 50%;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: #2D2F31;
    color: white;
}

.slider-btn span {
    text-align: center;
    font-weight: bold;
}

.slider-btn:hover {
    background-color: #4b4d4e;
}

.btn-slider-right {
    right: 1rem;
}

.btn-slider-left {
    left: 1rem;
}

/******** Listado de pasos *******/
.section{
    width: 100%;
}

.titulo{
    text-align: center;
    padding: 2rem 0 0.5rem 0;
}
.lista_pasos {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
}

.paso_item-imagen {
    width: 280px;
}

.lista_pasos-item {
    width: 300px;
    height: 450px;
    margin: 15px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    box-sizing: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paso_item-descripcion p,
.paso_item-descripcion li {
    /*text-indent: 10px;*/
    list-style: none;

}

.contenedor-imagen {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contenedor-imagen-especial {
    height: 284px;
    position: relative;
}

.contenedor-imagen-especial img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.cursos_destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.cursos_destacados-card{
    border: 1px solid red;
    width: 300px;
    height: 450px;
    margin: 15px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    box-sizing: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-imagen{
    width: 100%;
}

.cursos_destacados a{
    text-decoration: none;
}

.card_curso-titulo{
    color: #000000;
}

.carrusel_metodos_de_pagos{
    height: 15rem;
    padding: 0 0 1em 0;
}

.carrusel-pagos{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.metodo{
    height: 9rem;
}
.contenedor-metodos-de-pago{
    position: relative;
}   

.slider-metodos-pagos-btn {
    position: absolute;
    bottom: 40%;
    line-height: 50%;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: #2D2F31;
    color: white;
}

.slider-metodos-pagos-btn:hover{
    background-color: #4b4d4e;
}