
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;/*ocupa toda la ventana*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: green;
    height: 30em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}

.encabezado-inicio-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado-inicio-sesion h1 {
    margin-bottom: 1.3rem;
}

.logo-titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    margin: 1em 0;
    text-decoration: none;
}

.logo-titulo img {
    width: 6rem;
}

.logo-titulo p {
    color: #000;
    font-weight: bolder;
    font-size: 1.5em;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-bottom: 1rem;
    width: 15rem;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.Wrapper-User-Login .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color:#fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.Wrapper-User-Login .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.Wrapper-User-Login .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}