/*
CAMBIOS:
Agrego form-btn, btn-person
Se saco button y button hover
Agrege responsive
Puse imput number con datos igual a text
*/



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.registration-form .registration-titulos {
    margin: 4px;
    padding-bottom: 5px;
}

.main {
    padding: 20px;
}

.registration-form {
    width: 80%;
    flex-direction: column;
    align-items: center; /* Centrar los elementos hijos horizontalmente */
    margin: 0 auto; /* Centrar el contenedor en sí mismo */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.input-group {
    flex-basis: 30%;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.person-btn {
    border-radius: 50%;
    padding: 0rem 0.5rem;
    color: white;
    background-color: black;
    font-size: 1.8em;
    cursor: pointer;
    font-weight: 600;
}

.add-person {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}



.payment-info {
    font-size: 1.2em;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    width: 4.5rem;
    text-align: center;
}

.submit-btn {
    text-align: center;
    margin-top: 20px;
}

.submit-btn .form-btn {
    background-color: #01A679;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

/************************Responsive***************************/

@media screen and (max-width:576px) {

    .registration-form {
        font-size: 0.8em;
    }

    .person-data {
        flex-direction: column;
        align-items: normal;
    }

}

@media screen and (min-width:576px) and (max-width:752px) {

    .registration-form {
        font-size: 0.8em;
    }

    .input-group {
        flex-basis: 33%;
        
    }


}