
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #01A679;
    padding: 2em;
}

h1, h2 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.payment-form {
    background-color: #fff;
    padding: 2em;
    border-radius: 1em;
    width: 100%;
    max-width: 60%; 
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
}

.payment-form h2 {
    margin-bottom: 1em;
    color: #333;
}

.input-group {
    margin-bottom: 2em;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #555;
}
select{
    width: calc(100% + 1.7em);
    padding: 0.8em;
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    font-size: 1em;
}
.input-group input{
    width: 100%;
    padding: 0.8em;
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    font-size: 1em;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row .input-group {
    width: 46%;
}
.card-info {
    padding-right: 2em;
}
.coupon-section {
    margin-top: 3em;
    padding-right: 2em;
}

.payment-summary {
    margin-top: 3em;
    font-size: 1.1em;
    color: #333;
}

.payment-summary p {
    margin-bottom: 1em;
}
.payment-summary p strong {
    font-size: 1.2em;
}

.submit-btn {
    text-align: center;
    margin-top: 4em;
}

.submit-btn button {
    background-color: #01A679;
    color: white;
    border: none;
    padding: 1.5em 3em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.2em;
}

.submit-btn button:hover {
    background-color: #018f63;
}


@media (max-width: 40em) { 
    .input-row {
        flex-direction: column;
    }

    .input-row .input-group {
        width: 100%;
    }

    .payment-form {
        padding: 2em;
    }
}

@media (max-width: 60em) { 
    .payment-form {
        max-width: 80%; 
    }

    .payment-summary {
        font-size: 1.2em;
    }
}

