/*MODAL*/
.modal {
    display: none; /* Ocultamos el modal por defecto */
    position: fixed; /* Fijamos la posición del modal */
    z-index: 1; /* Aseguramos que el modal esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite el scroll si el contenido es muy grande */
    background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  
  }
  .ventana-emogic{
    width: 3rem;
    margin-right: 0.6rem;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .boton-modal{
    margin-top: 1em;
    width: 18%;
    border: none;
    border-radius: 6px;
    background-color: #399B77;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.6rem;
  }